header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient( 174.2deg,  hsla(37, 100%, 95%, 0.9) 7.1%, hsla(105, 31%, 95%, 0.953) 66.4% );
    min-height: 100px;
}

.contenedorRegistro {
    width: 100%;
    height: 600px;
    container-type: inline-size;
    display: flex;
    justify-content: center;
    background-image: url(../img/flores3.jpg);
    background-size: cover;

}

.contenedorDatos{
    min-width: fit-content;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    top: 5%;
    background: linear-gradient( 174.2deg,  hsla(37, 100%, 95%, 0.9) 7.1%, hsla(105, 31%, 95%, 0.63) 66.4% );
    padding: 30px;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
}

.tamanoFoto {
    width: 400px;
    height: 500px;
    box-sizing: border-box;

}

.foto {
    display: flex;
    justify-content: end;
    padding-right: 60px;
}

@media(max-width:600px){
    .foto{
        display: none;
    }
}