header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: whitesmoke;
    height: 120px;
}

.contenedorRegistro {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(45deg, #f7f2eb, #dedde1);
    

}

.tamanoFoto {
    width: 100%;
    box-sizing: border-box;

}

.moverF {
    display: flex;
    justify-content: end;
    padding-right: 60px;
}
